<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <section id="HeaderContainer">
            <div class="header-container">
                <div class="title"><h1 class="mb-4">Live Summary</h1></div>
                <div class="title-buttons">
                    <button>Reader</button>
                    <button>Writer</button>
                    <button>Benefits</button>
                    <button>Contact us</button>
                    <button class="sign">Sign in</button>
                </div>
            </div>
        </section>
        <section id="Desc-Container">
            <div class="desc-container">
                <h1>Where Students<br/> meet success</h1>
                <h2>Live Summary helps students, teachers, and schools access the tools<br/> and events they need to shape the next generation of software development.</h2>
                <button>Join our Global Campus</button>
            </div>
        </section>
        <section id="BodyContainer">
            <div class="body-con">
                <% articles.forEach(article => { %>        
                    <div class="card mt-4">
                        <div class="card-body">
                            <h4 class="card-title"><%= article.title %></h4> 
                            <div class="card-subtitle text-muted mb-2"> <%= article.createdAt.toLocaleDateString() %></div>
                            <div class="card-text mb-2"> <%= article.description %></div>
                            <div class="btn-container">
                                <button class="read"><a href="articles/<%= article.slug %>" class="btn btn-primary">Read full article</a></button>
                                <button class="edit"><a href="/articles/edit/<%= article.id %>" class="btn btn-secondary">Edit</a></button>
                                <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-danger delete">DELETE</button>
                                </form>
                            </div>
                        </div>      
                    </div>
                <%  }) %>
            </div>
        </section>
   
        <a href="/articles/new" class="btn btn-success">New Article</a>
    </div>
</body>
</html>